body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: black;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header span {
    color: white;
    font-size: 32px;
    text-transform: uppercase;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main img {
    margin-top: 46px;
    filter: grayscale(1) blur(3px);
    cursor: pointer;
    transition: .5s;
}

main img:hover {
    filter: none;
    
}

main button {
    width: 400px;
    height: 132px;
    border-radius: 32px;
    color: #fff;
    background: #000;
    font-size: 48px;
    text-transform: uppercase;
    margin-top: 85px;
    cursor: pointer;
    transition: .3s;
}

main button:hover {
    background: #434343;
    color: #fff500;
    font-size: 50px;
    border: none;
}

@media (max-width: 414px) {
    main img {
        width: 390px;
    }
}